

<% @tasks.each do |task| %>
  <div class="task">
    <h1 class="task-title"><%= task.title %></h1>
    <p class="task-content"><%= simple_format(task.content) %></p>
    <p class="task-created-at"><%= task.created_at.strftime("%Y-%m-%d %H:%M:%S") %></p>
    <%= link_to("編集", "/#{task.id}/edit") %>
    <%= link_to("削除", "/#{task.id}", data: {turbo_method: :delete, turbo_confirm: '本当に削除しますか?'}) %>
  </div>
<% end %>